/* Not sure how but this squares all the
img that aren't squares. */
.image {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 200px;
}
.image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* For the hotel detail page */
.image-a {
  position: relative;
  width: 100%;
  max-height: 200px;
}
.image-a::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.image-a img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Fonten på allt */
* {
  font-family: "sofia-pro", sans-serif;
}
.font-soft {
  font-family: "sofia-pro-soft", sans-serif;
}
.logo {
  max-height: 2.2rem !important;
  width: 100% !important;
  object-fit: contain;
}
/* Bakgrund */
body {
  /* fade the img in PS */
  background-image: url("hotelimg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Forces 0 padding on container */
.container-fluid {
  padding: 0px !important;
}
/* Navbar */
.navbar,
.footer-copy {
  background-color: rgb(20, 20, 20);
}

.footer {
  background-color: rgb(20, 20, 20);
}
.navbar-toggler span {
  color: #ffffff;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
}
/* Searchbar */
.hotel-search-container {
  background-color: rgba(255, 255, 255);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.searchbar {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3rem;
}
.searchbar-row {
  padding: 1rem 1.5rem;
}
.my-btn {
  background-color: rgb(20, 20, 20);
  border: none;
  color: white;
  text-align: center;
  font-size: 1rem;
  /* border-radius: 0rem 1.5rem 1.5rem 0rem; */
}
.my-btn-small {
  font-size: 0.7rem !important;
  background-color: rgb(96, 96, 96) !important;
  color: #ffffff !important;
}
.fridas-border-1 {
  /* border-radius: 1.5rem 0rem 0rem 1.5rem; */
  border: 2px solid rgb(20, 20, 20);
}
.fridas-border-2 {
  border-radius: 0rem 0rem 0rem 0rem;
  border: 2px solid rgb(20, 20, 20);
}
.fridas-border-3 {
  border-radius: 0rem 0rem 0rem 0rem;
  border: 2px solid rgb(20, 20, 20);
}
.fridas-icon-1 {
  background-color: rgb(20, 20, 20);
  /* border-radius: 100%; */
  color: #ffffff;
}
.fridas-icon-2 {
  background-color: rgb(20, 20, 20);
  color: #ffffff;
}

/* Filter List */
.filterlist-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Rounded border */
hr.fridas-border {
  border-top: 1px solid rgb(119, 119, 119);
  border-radius: 5px;
  max-width: 100%;
  margin: auto;
}
hr {
  border: 0;
}
.everything-but-footer {
  min-height: calc(100vh - 32vh);
}
footer {
  min-height: 32vh;
}
.detailedpage {
  background-color: #ffffff;
}
a:link {
  text-decoration: none;
}
.fridas-btn {
  background-color: rgb(20, 20, 20);
}
.quote {
  font-family: "eloquent-jf-pro", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 2.5rem;
}
.quote-italic {
  font-style: italic;
}
.quote-bigger {
  font-size: 3rem;
}

.details-img,
.bed-img {
  max-width: 100%;
}
.inline-block {
  display: inline-block;
}

.hotel-details {
  background-color: #ffffff;
}

/* Från https://blog.logrocket.com/react-slider-tutorial/ 
Något anpassad till att passa min egen design */
.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 4rem;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 0.2rem solid #3774ff;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  margin-bottom: 1rem;
}
.example-thumb.active {
  background-color: rgb(255, 255, 255);
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-1 {
  background: #83a9ff;
  border-radius: 1em;
  z-index: 1;
}
.example-track.example-track-0 {
  border-radius: 1em;
}
.example-track.example-track-2 {
  border-radius: 1em;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

.review-span {
  font-size: 0.8rem;
}

.hotel-bold {
  font-weight: 700;
}
.hotel-normal {
  font-weight: 300;
}

.hotel-italic {
  font-style: italic;
}
.thumb-div {
  height: 2.7rem;
  margin-right: 1.4rem;
}
.rating-thumb {
  font-size: 2.7rem;
  color: green;
}
.rating-int {
  font-size: 1rem;
  top: 1.4rem;
  padding: 2rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
}
.hotel-facilities {
  background-color: rgb(96, 96, 96);
  border-radius: 0.5rem;
  color: #ffffff;
}
.hotel-heading {
  font-size: 1.2rem;
}
.hotel-price {
  font-size: 1.7rem;
}
.hotel-heading-2 {
  font-size: 2rem;
}
.read-all-link {
  font-weight: 700;
}
.booking-page {
  background-color: #ffffff;
}

.form-select {
  border: 0px !important;
}
.btn-pay {
  color: #ffffff !important;
}
.asterisk {
  font-size: 0.8rem;
}
